@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Context;

@{ var UsuarioSession = Context.HttpContext.Session.Get<Entity.UsuariosEntity>(IApp.UsuarioSession); }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - WebApplication</title>
    @await Html.PartialAsync("_HeaderTemplate")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:dimgray">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Monchis S.A.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-page="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-page="/Clientes/Grid"> Gestion de Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-page="/Pedidos/Grid"> Gestion de Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-page="/Entregas/Grid"> Gestion de Entregas</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion de Camiones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="nav-link"></a>
                            </li>
                            <li><a class="dropdown-item" href="/Conductor/Grid"> Conductores </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/Camion/Grid"> Camiones </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/MarcaCamion/Grid"> Marca Camiones </a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion de Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="nav-link"></a>
                            </li>
                            <li><a class="dropdown-item" href="/Productos/Grid">Productos </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/Categorias/Grid">Categorias </a></li>
                        </ul>
                    </li>

                </ul>
                <div class="d-flex">
                    <div class="dropdown dropstart">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarLoginUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @UsuarioSession?.Nombre
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarLoginUser">
                            <li><a class="dropdown-item" asp-page="/Login" asp-page-handler="Logout">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <br />
    @RenderBody()


    @await Html.PartialAsync("_ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
